body {
	background-repeat: no-repeat;
	background-image: url("bg-market.jpeg") ;
	background-color: black;
	background-size: no-repeat;
	color: #c2c2c4;
}

h1{
	color: #F0F0F0;
	margin-top: 650px;
	font-size: 120px;
}

h2{
	margin-top: 0;
}

h5 {
	margin: 3px;
}

.menu{
	margin: 0 10% 150px 10%;
	border-radius: 50px;
	padding: 50px 50px 75px 50px;
	background-color: #1a1b20;
	font-size: 30px;
}

.info{
	height: 100px;
	background-color: #101010;
}

img {
	border-radius: 10px;
}

.gold{
	margin: 0 5px 0 20px;
}

.first_product,.second_product,.third_product,.fourth_product,.five_product{
	margin: 35px 0 0 30px;
	display: inline-block;
	border-radius: 15px;
	padding: 25px;
	width: 18%;
	background: #282828;
}

a {
	color: #c2c2c4;
	text-decoration: none;
}
